@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
 font-family: "Merriweather", serif;
}
.{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
/* banner section style start here */
.banner-container {
 max-width: 1320px;
 margin: 0 auto;
 min-height: 600px;
 margin-top: 20px;
 background-color: rgba(0, 0, 0, 0.5);
 background-image: url("/images/Banner\ Image.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-blend-mode: overlay;
}
.banner-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 600px;
 align-items: center;
}
.banner-content p, h1{
 color: white;
 }
 .banner-content p {
  font-size: 32px;
  font-weight: 400;
 }
 .banner-content h1{
  font-size: 72px;
  font-weight: 900;
 }
 /* 65% section starts here */
 .first-section-container{
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .first-section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .first-section-content h1{
 color: rgb(255, 0, 0);
 font-family: Inter;
 font-size: 88px;
 font-weight: 700;
 }
 .first-section-content p{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
 }
 .first-section-content h3{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
 }
 .image-container{
  width: 802.9px;
  height: 500px;
 }
 .image-container img{
  width: 100%;
  height: 100%;
 }
 /* midnight section styles start here */
 .midnight-party-container{
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  margin-top: 200px;
  margin-bottom: 200px;
 }
 .rightside-content{
  width: 349.16px;
  height: 464.65px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .leftside-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
 }
 .leftside-content p{
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-left: 150px;
  margin-bottom: 50px;
 }
 .leftside-content h1{
  font-size: 64px;
  font-weight: 900;
 }
 .rightside-content img{
  height: 100%;
  width: 100%;
 }
 #midnight-button{
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-right: 280px;
 }
 /* time section starts here */
 .time-place-container{
  width: 1320px;
  height: 482px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
 }
 .date-time-place{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
  margin: 0 auto;
 }
 .color{
  color:  rgb(255, 0, 0);
 }
 .clr{
  background-color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px 32px 16px 32px;
  color: white;
 }
 /* new offer section starts here */
 .new-offer{
  width: 1320px;
  height: 463px;
  display: flex;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
 }
 .circle{
  width: 463px;
  height: 463px;
  display: flex;
  box-sizing: border-box;
  border: 20px solid rgb(255, 0, 0);
  border-radius: 50%;
  margin: 0 auto;
  padding: 30px;
  justify-content: center;
  align-items: center;
 }
 .coming-soon{
  margin-right: 110px;
  margin: 0 auto;
 }
 .coming-soon h5{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
 }
 .coming-soon p{
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6)
 }
 .coming-soon h2{
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
 }
 .year{
  margin-left: 90px;
 }
 .year h2{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
 }
 .year p{
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6)
 }
 /* holiday section starts here */
 .holiday-section{
  width: 1320px;
  height: 986.07px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
 }
 .holiday-text-container {
  width: 1068px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 }
 
 .holiday-text-container h2 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  width: 677px;
  height: 91px;
  margin: 0 auto;
 }
 .holiday-text-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto;
  width: 263px;
  height: 29px;
 }
 .holiday-text-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  height: 96px;
  margin: 0 auto;
 }
 .solid-color {
  width: 1320px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 77%;
 }
 .giftbox {
  position: absolute;
  width: 674.82px;
  height: 577.96px;
  display: flex;
  margin-top: 170px;
  justify-content: space-between;
 }
 .discount {
  position: absolute;
  bottom: 30%;
  left: 60%;
 }
/* Items Styles */
 .items {
  width: 1320px;
  height: 1187px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
 }
 .items-text-container h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  
  text-align: left;
 }
 .items-text-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-align: left;
  text-transform: capitalize;
 }
 .items-text-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
 }
 .items-text-container {
 height: 239px;
 }
 .items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
 }
 .item {
  width: 424px;
  height: 450px;
 }
 .item img {
  width: 100%;
  height: 100%;
 }
 /* subscribe section styles */
 .subscribe-section {
  width: 1320px;
  height: 616px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
 }
 .newsletter {
  text-align: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
 }
 .newsletter img {
  width: 50px;
  height: 50px;
  margin-top: 80px;
  margin-left: 620px;
  margin-right: 585px;
 }
.newsletter h2 {
 color: rgb(7, 2, 17);
 font-family: Merriweather;
 font-size: 48px;
 font-weight: 900;
 line-height: 60px;
 letter-spacing: 0%;
 text-align: center;
 text-transform: capitalize;
}
.newsletter p {
 color: rgba(7, 2, 17, 0.6);
 font-family: Inter;
 font-size: 20px;
 font-weight: 400;
 line-height: 32px;
 letter-spacing: 0%;
 text-align: center;
}
.subscribe-container {
 display: flex;
 align-items: center;
 justify-items: center;
 border-radius: 50px;
 margin: 0 auto;
}
.subscribe-input {
 border: none;
 padding: 10px 20px;
 outline: none;
 font-size: 16px;
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
 margin-left: 450px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.subscribe-button {
 background-color: red;
 color: white;
 border: none;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 padding: 10px 30px;
 cursor: pointer;
 font-size: 16px;
 font-weight: bold;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px;
 transition: background-color 0.3s;
 margin-right: 336px;
}
.subscribe-button:hover {
 background-color: darkred;
}
 